@charset "utf-8";

@font-face {
  font-family: "Supra Normal";
  src: url(../assets/fonts/Supra-Normal.ttf) format("truetype");
}

body {
  font-family: "Supra Normal", sans-serif;
  color: #71583d;
}

.toggle-button-menu {
  display: none;
}

/* tablet */
@media (max-width: 1024px) {
  .toggle-button-menu {
    display: none;
  }
}
/* sp */
@media (max-width: 640px) {
  .header-inner {
    background-color: #f8f5f2;
  }

  .service-name {
    font-weight: bold;
  }

  .header-inner .service-name {
    color: #000;
  }

  .header-notification {
    text-align: center;
    background: #000;
    color: #fff;
    line-height: 1.6;
    padding: 16px 14px;
  }

  .header-notification span {
    text-decoration: underline;
  }

  .header-notification span::before {
    content: "\A";
    white-space: pre;
  }

  .navigation-menu {
    display: none;
  }

  .navigation-menu,
  .login,
  .header-navigation .button-link-area {
    display: none;
  }

  .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
    margin-top: 24px;
  }

  .toggle-button-menu {
    background-image: url(../assets/images/Hamburger\ Menu.svg);
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
  }

  .footer {
    background-color: #000;
    color: #ded8d3;
    font-weight: normal;
    padding: 40px 14px;
    margin-top: 24px;
  }

  .footer .service-name {
    color: #fff;
  }
}
