@charset "utf-8";

/* sp */
.first-view {
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 40px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  background-color: #f8f5f2;
}

.first-view-image img {
  width: 100%;
}

.first-view-text h1 {
  font-weight: bold;
  color: #000;
  font-size: 2.1rem;
  line-height: 1.2;
  font-family: "Cabin", sans-serif;
}

.first-view-text p {
  margin-top: 12px;
  line-height: 1.4;
  width: 98%;
}

.first-view-text p span {
  font-style: italic;
}

.first-view-text ul {
  margin-top: 18px;
}

.first-view-text ul li {
  display: flex;
  font-weight: bold;
}

.first-view-text ul li::before {
  content: url(../assets/images/Checkmark.svg);
  padding-right: 14px;
}

.first-view-text form {
  margin-top: 24px;
}

.first-view-text .email {
  border: 0.5px solid #aaa;
  border-radius: 4px;
  line-height: 3.2;
  padding: 0 8px;
  width: 100%;
  max-width: 176px;
  margin-right: 14px;
  background-color: #fff;
}

.first-view-text .email::placeholder {
  text-align: center;
  font-family: "Cabin", sans-serif;
  color: #aaa;
  font-weight: lighter;
}

.sponsors {
  background-color: #fff;
  padding: 32px 18px;
}

.sponsors-icon {
  display: flex;
  overflow-y: scroll;
  column-gap: 16px;
  align-items: center;
  height: 48px;
}

.sponsors-icon img {
  display: block;
  height: 22px;
}

.service-escrow {
  padding: 0 18px;
}
.escrow-inner {
  background-color: #f8f5f2;
  border-radius: 4px;
}
