@charset "utf-8";

/* sp */
@media (max-width: 640px) {
  .first-view {
    padding: 0 16px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  .first-view-image img {
    width: 100%;
  }

  .first-view-text h1 {
    font-weight: bold;
    color: #000;
    font-size: 1.6rem;
    line-height: 1.4;
    font-family: "Cabin", sans-serif;
  }
}
